In [13]:
import re
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

path = "./datasets/_data.csv"
rent = pd.read_csv(path)

In [14]:
# 'Адрес' – analys
# Define 'City' column 
cities = rent['Адрес'].apply(lambda x: x.split(',')[0])
cities.unique()

array(['Москва', 'Санкт-Петербург', 'Краснодарский край'], dtype=object)

In [15]:
# 'Адрес' – remove rows with 'Москва', 'Санкт-Петербург'
rent.drop(rent[rent['Адрес'].str.startswith('Санкт-Петербург')].index, inplace = True)
rent.drop(rent[rent['Адрес'].str.startswith('Краснодарский край')].index, inplace = True)
cities = rent['Адрес'].apply(lambda x: x.split(',')[0])
cities.unique()

array(['Москва'], dtype=object)

In [16]:
# 'ID  объявления'

In [17]:
# 'Количество комнат'

In [18]:
# 'Тип'
rent.drop(['Тип'], axis=1, inplace=True)
rent.columns

Index(['Unnamed: 0', 'ID  объявления', 'Количество комнат', 'Метро', 'Адрес',
       'Площадь, м2', 'Дом', 'Парковка', 'Цена', 'Телефоны', 'Описание',
       'Ремонт', 'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно', 'Название ЖК',
       'Серия дома', 'Высота потолков, м', 'Лифт', 'Мусоропровод',
       'Ссылка на объявление'],
      dtype='object')

In [19]:
# 'Метро'

In [20]:
# 'Площадь, м2'

In [51]:
# 'Дом'
def get_floor(row) :
    result = {}
    l = row['Дом'].split(',')
    if len(l) == 0 : return result
    floors = l[0].split('/')
    result['floor_flat'] = floors[0]
    result['floors_total']= floors[1]
    if len(l) > 1 :
        result['building_type'] = l[1][1:] # remove first space
    return result


floor_info = rent.apply(get_floor, axis=1, result_type='expand')
floor_info['floor_flat'] = floor_info['floor_flat'].astype('Int64')
floor_info['floors_total'] = floor_info['floors_total'].astype('Int64')
print(floor_info['building_type'].unique())
print("Number of Nan in building_type: ", floor_info['building_type'].isna().sum())  # 2971 – Nan values
print("\nFlat floor vals:", sorted(floor_info['floor_flat'].unique()))    #range -1 to 85
print("\nTotal floors:", sorted(floor_info['floors_total'].unique()))  #range 1 to 116

['Монолитный' 'Монолитно-кирпичный' nan 'Панельный' 'Сталинский'
 'Кирпичный' 'старый фонд' 'Блочный' 'Деревянный' 'Щитовой']
Number of Nan in building_type:  2971

Flat floor vals: [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 57, 58, 59, 61, 65, 70, 71, 75, 85]

Total floors: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 62, 65, 68, 72, 73, 75, 76, 77, 78, 80, 85, 86, 95, 116]

In [ ]:
# 'Парковка'

In [ ]:
# 'Цена'

In [7]:
# 'Телефоны'
rent.drop(['Телефоны'], axis=1, inplace=True)
rent.columns

Index(['Unnamed: 0', 'ID  объявления', 'Количество комнат', 'Метро', 'Адрес',
       'Площадь, м2', 'Дом', 'Парковка', 'Цена', 'Описание', 'Ремонт',
       'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно', 'Название ЖК',
       'Серия дома', 'Высота потолков, м', 'Лифт', 'Мусоропровод'],
      dtype='object')

In [ ]:
# 'Описание'

In [ ]:
# 'Ремонт'

In [ ]:
# 'Площадь комнат, м2'

In [ ]:
# 'Балкон'

In [ ]:
# 'Окна'

In [ ]:
# 'Санузел'

In [ ]:
# 'Можно с детьми/животными'

In [60]:
# 'Дополнительно'

def get_equp(row) :
    result = {}
    if type(row['Дополнительно']) != str : return result
    l = row['Дополнительно'].split(',')
    if len(l) == 0 : return result
    for eq in l :
        if eq[0] == ' ' : eq = eq[1:]
        result[eq] = 1
    return result


additional = rent.apply(get_equp, axis=1, result_type='expand')
for c in additional.columns :
    additional[c] = additional[c].astype('Int64')
additional = additional.fillna(0)
print(additional.columns)
additional

Index(['Мебель в комнатах', 'Мебель на кухне', 'Ванна', 'Душевая кабина',
       'Стиральная машина', 'Кондиционер', 'Посудомоечная машина', 'Телевизор',
       'Холодильник', 'Интернет', 'Телефон'],
      dtype='object')

,Мебель в комнатах,Мебель на кухне,Ванна,Душевая кабина,Стиральная машина,Кондиционер,Посудомоечная машина,Телевизор,Холодильник,Интернет,Телефон
0,1,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,0
2,1,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,0,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
23363,1,1,1,0,1,1,0,0,1,1,0
23364,1,1,1,0,1,0,0,1,1,0,0
23365,0,1,0,1,1,1,0,0,1,1,0
23366,1,1,1,0,1,1,1,0,1,0,0
23367,1,1,1,0,1,1,1,1,1,1,0

In [ ]:
# 'Название ЖК'

In [ ]:
# 'Серия дома'

In [ ]:
# 'Высота потолков, м'

In [ ]:
# 'Лифт'

In [ ]:
# 'Мусоропровод'

In [6]:
# 'Ссылка на объявление'
rent.drop(['Ссылка на объявление'], axis=1, inplace=True)
rent.columns

Index(['Unnamed: 0', 'ID  объявления', 'Количество комнат', 'Метро', 'Адрес',
       'Площадь, м2', 'Дом', 'Парковка', 'Цена', 'Телефоны', 'Описание',
       'Ремонт', 'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно', 'Название ЖК',
       'Серия дома', 'Высота потолков, м', 'Лифт', 'Мусоропровод'],
      dtype='object')