# Анализ международного сервиса по продаже и аренде жилой недвижимости **Alyona Ivanovna Real Estate Agency**

#### На данном этапе работы нам необходимо проанализировать предоставленные данные из файла **data.csv**, чтобы понять как с ними рабоать.

##### Импортируем необходимые для анализа библиотеки и читаем данные

In [108]:
import re
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import requests
path = "./datasets/_data.csv"
rent = pd.read_csv(path)
print (rent.columns)
rent

Index(['Unnamed: 0', 'ID  объявления', 'Количество комнат', 'Тип', 'Метро',
       'Адрес', 'Площадь, м2', 'Дом', 'Парковка', 'Цена', 'Телефоны',
       'Описание', 'Ремонт', 'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно', 'Название ЖК',
       'Серия дома', 'Высота потолков, м', 'Лифт', 'Мусоропровод',
       'Ссылка на объявление'],
      dtype='object')

,Unnamed: 0,ID объявления,Количество комнат,Тип,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,...,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,Ссылка на объявление
0,0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.00,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.50,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.20,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,3,272197456,"4, Оба варианта",Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.20,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",...,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.90,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23363,23363,215565511,NaN,Квартира,м. Говорово (8 мин пешком),"Москва, Боровское шоссе, 2к7, ш. Боровское (3 ...",35.0/16.4/8.0,10/14,NaN,"42000.0 руб./ За месяц, Залог - 42000 руб., Ко...",...,NaN,Совмещенный (1),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...",Мещерский лес,NaN,NaN,"Пасс (1), Груз (1)",NaN,https://www.cian.ru/rent/flat/215565511
23364,23364,274654844,1,Квартира,м. Солнцево (7 мин пешком),"Москва, Производственная улица, 8к1, ш. Боровс...",38.7/16.5/11.0,"5/18, Монолитный",NaN,"45000.0 руб./ За месяц, Залог - 45000 руб., Ко...",...,Во двор,Совмещенный (1),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...",Лучи,NaN,NaN,"Пасс (1), Груз (1)",NaN,https://www.cian.ru/rent/flat/274654844
23365,23365,268679909,"2, Оба варианта",Квартира,м. Солнцево (6 мин пешком),"Москва, Боровский проезд, 11",43.1,"5/5, Кирпичный",NaN,"50000.0 руб./ За месяц, Залог - 50000 руб., Ко...",...,На улицу и двор,Совмещенный (1),Можно с детьми,"Мебель на кухне, Душевая кабина, Стиральная ма...",NaN,NaN,NaN,NaN,NaN,https://www.cian.ru/rent/flat/268679909
23366,23366,274807525,2,Квартира,м. Солнцево (11 мин пешком),"Москва, улица Богданова, 6к1, ш. Боровское (3 ...",52.5/10.0,"8/23, Монолитный",наземная,"55000.0 руб./ За месяц, Залог - 50000 руб., Ко...",...,Во двор,"Совмещенный (1), Раздельный (1)",NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...",NaN,NaN,2.65,Пасс (3),Да,https://www.cian.ru/rent/flat/274807525
23367,23367,274672243,"2, Оба варианта",Квартира,м. Говорово (10 мин пешком),"Москва, улица Богданова, 2к1, ш. Боровское (3 ...",90.0/48.2/15.5,"6/23, Панельный",NaN,"57000.0 руб./ За месяц, Залог - 60000 руб., Ко...",...,Во двор,Раздельный (1),"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Сти...",NaN,NaN,NaN,Пасс (3),Да,https://www.cian.ru/rent/flat/274672243

##### Удаляем столбцы, которые нам не понадобятся для анализа.

In [109]:
rent = rent.drop(labels =['Unnamed: 0','Тип','Телефоны','Ссылка на объявление','Серия дома','Описание'], axis= 1)
rent.columns

Index(['ID  объявления', 'Количество комнат', 'Метро', 'Адрес', 'Площадь, м2',
       'Дом', 'Парковка', 'Цена', 'Описание', 'Ремонт', 'Площадь комнат, м2',
       'Балкон', 'Окна', 'Санузел', 'Можно с детьми/животными',
       'Дополнительно', 'Название ЖК', 'Серия дома', 'Высота потолков, м',
       'Лифт', 'Мусоропровод'],
      dtype='object')

#### **Адрес**
##### Проверяем из каких городов наши объявления.

In [110]:
cities = rent['Адрес'].apply(lambda x: x.split(',')[0])
cities.unique()

array(['Москва', 'Санкт-Петербург', 'Краснодарский край'], dtype=object)

##### Удаляем строки с данными не из Москвы.

In [111]:
rent.drop(rent[rent['Адрес'].str.startswith('Санкт-Петербург')].index, inplace = True)
rent.drop(rent[rent['Адрес'].str.startswith('Краснодарский край')].index, inplace = True)
cities = rent['Адрес'].apply(lambda x: x.split(',')[0])
cities.unique()

array(['Москва'], dtype=object)

#### **Дом**
##### Выделяем в отдельные столбцы: этаж, этаж всего дома и тип дома.

In [112]:
def get_floor(row) :
    result = {}
    l = row['Дом'].split(',')
    if len(l) == 0 : return result
    floors = l[0].split('/')
    result['floor_flat'] = floors[0]
    result['floors_total']= floors[1]
    if len(l) > 1 :
        result['building_type'] = l[1][1:] # remove first space
    return result


floor_info = rent.apply(get_floor, axis=1, result_type='expand')
floor_info['floor_flat'] = floor_info['floor_flat'].astype('Int64')
floor_info['floors_total'] = floor_info['floors_total'].astype('Int64')
print(floor_info['building_type'].unique())
print("Number of Nan in building_type: ", floor_info['building_type'].isna().sum())  # 2971 – Nan values
print("\nFlat floor vals:", sorted(floor_info['floor_flat'].unique()))    #range -1 to 85
print("\nTotal floors:", sorted(floor_info['floors_total'].unique()))  #range 1 to 116

['Монолитный' 'Монолитно-кирпичный' nan 'Панельный' 'Сталинский'
 'Кирпичный' 'старый фонд' 'Блочный' 'Деревянный' 'Щитовой']
Number of Nan in building_type:  2971

Flat floor vals: [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 57, 58, 59, 61, 65, 70, 71, 75, 85]

Total floors: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 62, 65, 68, 72, 73, 75, 76, 77, 78, 80, 85, 86, 95, 116]

#### **Дополнительно**
##### Используем метод быстрого кодирования для подготовки файла к машинному обучению.

In [113]:

def get_equp(row) :
    result = {}
    if type(row['Дополнительно']) != str : return result
    l = row['Дополнительно'].split(',')
    if len(l) == 0 : return result
    for eq in l :
        if eq[0] == ' ' : eq = eq[1:]
        result[eq] = 1
    return result


additional = rent.apply(get_equp, axis=1, result_type='expand')
for c in additional.columns :
    additional[c] = additional[c].astype('Int64')
additional = additional.fillna(0)
print(additional.columns)
additional.head(2)

Index(['Мебель в комнатах', 'Мебель на кухне', 'Ванна', 'Душевая кабина',
       'Стиральная машина', 'Кондиционер', 'Посудомоечная машина', 'Телевизор',
       'Холодильник', 'Интернет', 'Телефон'],
      dtype='object')

,Мебель в комнатах,Мебель на кухне,Ванна,Душевая кабина,Стиральная машина,Кондиционер,Посудомоечная машина,Телевизор,Холодильник,Интернет,Телефон
0,1,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,0

#### **Балкон**
##### Используем метод быстрого кодирования и разделяем на два столбца balcony и loggia.

In [114]:
# rent[['balcony', 'loggia']] = rent.Балкон.str.split(",", expand = True)

# cou = 0
# for i in rent['balcony']:
#     new = str(i)
#     cou = int(cou)
#     if new[0] == 'Л':
#         rent.iloc[cou,26] = rent.iloc[cou,25]
#         rent.iloc[cou,25] = ''
#     cou = cou + 1
    
# rent = rent.assign(balcony = lambda x: x['balcony'].str.extract('(\d+)'))
# rent = rent.assign(loggia = lambda x: x['loggia'].str.extract('(\d+)'))
# rent['balcony'] = rent['balcony'].fillna(0)
# rent['loggia'] = rent['loggia'].fillna(0)

#### **Санузел**
##### Преобразовываем данные в столбцы по типам санузлов и их количествам в квартирах.

In [115]:

# rent[['sf1', 'sf2']] = rent.Санузел.str.split(",", expand = True)

# cou = 0
# for i in rent['sf1']:
#     new = str(i)
#     cou = int(cou)
#     if new[0] == 'Р':
#         rent.iloc[cou,30] = rent.iloc[cou,29]
#         rent.iloc[cou,29] = ''
#     cou = cou + 1
    
# rent = rent.assign(sf1 = lambda x: x['sf1'].str.extract('(\d+)'))
# rent = rent.assign(sf2 = lambda x: x['sf2'].str.extract('(\d+)'))
# rent['sf1'] = df['sf1'].fillna(0)
# rent['sf2'] = df['sf2'].fillna(0)
# rent = rent.astype({'sf1':'int'})
# rent = rent.astype({'sf2':'int'})
# rent['bathroom'] = rent['sf1'] + df['sf2'] 
# rent.drop(['sf1', 'sf2'], axis=1)

#### **Лифт**
##### Разделяем данные по типу лифта и их количеству в доме. Данные Nan заполняем на основе вспомогательных столбцов и строительным нормам по проектированию жилых домов в зависимости от количества этажей в доме и его типа.

In [116]:
# rent[['passenger_lift', 'service_lift']] = rent.Лифт.str.split(",", expand = True)

# cou = 0
# for i in rent['passenger_lift']:
#     new = str(i)
#     cou = int(cou)
#     if new[0] == 'Г':
#         rent.iloc[cou,28] = rent.iloc[cou,27]
#         rent.iloc[cou,28] = ''
#     cou = cou + 1
    
# rent = rent.assign(passenger_lift = lambda x: x['passenger_lift'].str.extract('(\d+)'))
# rent = rent.assign(service_lift = lambda x: x['service_lift'].str.extract('(\d+)'))
# rent['passenger_lift'] = rent['passenger_lift'].fillna(0)
# rent['service_lift'] = rent['service_lift'].fillna(0)

#### **Площадь, м2**
##### Для дальнейшего анализа берем только общую площадь квартиры (первое число в данных колонки), так как неизвестно что обозначают остальные числа. Преобразоваем тип данных столбца во float и переименовываем колонку в **square_total**

In [117]:
rent['Площадь, м2'] = rent['Площадь, м2'].str.split(pat='/', n = 1, expand = True)[0].astype('float')
rent.rename(columns = {'Площадь, м2':'square_total'}, inplace = True)
rent[0:2]

,ID объявления,Количество комнат,Метро,Адрес,square_total,Дом,Парковка,Цена,Описание,Ремонт,...,Балкон,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод
0,271271157,4,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Без комиссии для нанимателя! Бонус коллегам 12...,Дизайнерский,...,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да
1,271634126,4,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,Дизайнерский,...,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет

#### **Парковка**
##### Заменяем значения NaN на ‘Нет парковки’, так как в приведенных данных есть информация о наличии парковки, значит вариант с NaN является ее отсутствием.

In [118]:
rent['Парковка'] = rent['Парковка'].fillna('нет парковки')
rent.rename(columns = {'Парковка':'parking'}, inplace = True)
rent[0:2]

,ID объявления,Количество комнат,Метро,Адрес,square_total,Дом,parking,Цена,Описание,Ремонт,...,Балкон,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод
0,271271157,4,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Без комиссии для нанимателя! Бонус коллегам 12...,Дизайнерский,...,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да
1,271634126,4,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,Дизайнерский,...,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет

#### **Цена**
##### Из данного столбца выделяем дополнительные колонки с информацией: Плата за месяц, Объем залога, Включены ли коммунальные услуги, Срок аренды, Предоплата (кол-во месяцев)

#### **Ремонт**
##### Данные NaN заполняем значениями “Без ремонта”, так как пропущено всего 2 755 значений, а это всего 11%.

In [119]:
rent['Ремонт'] = rent['Ремонт'].fillna('Без ремонта')
rent.rename(columns = {'Ремонт':'renovation'}, inplace = True)
rent[0:2]

,ID объявления,Количество комнат,Метро,Адрес,square_total,Дом,parking,Цена,Описание,renovation,...,Балкон,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод
0,271271157,4,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Без комиссии для нанимателя! Бонус коллегам 12...,Дизайнерский,...,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да
1,271634126,4,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,Дизайнерский,...,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет

#### **Окна**
##### Так как невозможно определить на какую сторону выходят окна у квартиры, то значения NaN мы заполняем как ‘Нет данных”.

In [120]:
rent['Окна'] = rent['Окна'].fillna('Нет данных')
rent.rename(columns = {'Окна':'windows'}, inplace = True)
rent[0:2]

,ID объявления,Количество комнат,Метро,Адрес,square_total,Дом,parking,Цена,Описание,renovation,...,Балкон,windows,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод
0,271271157,4,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Без комиссии для нанимателя! Бонус коллегам 12...,Дизайнерский,...,NaN,Нет данных,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да
1,271634126,4,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,Дизайнерский,...,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет

#### **Можно с детьми/животными**
##### Создаем столбцы pets_allowed и kids_allowed и проставляем значени 1 или 0 в зависимости от условий проживания. NaN значения будут равняться 0 в двух столбцах.

In [121]:
def get_allowed(row) :
    result = {}
    if type(row['Можно с детьми/животными']) != str : return result
    l = row['Можно с детьми/животными'].split(',')
    if len(l) == 0 : return result
    for al in l :
        if al[0] == ' ' : al = al[1:]
        result[al] = 1
    return result
allowed = rent.apply(get_allowed, axis=1, result_type='expand')
for c in allowed.columns :
    allowed[c] = allowed[c].astype('Int64')
allowed = allowed.fillna(0)
rent[['kids_allowed','pets_allowed']] = allowed
rent.drop('Можно с детьми/животными', axis=1, inplace=True)
rent[0:2]

,ID объявления,Количество комнат,Метро,Адрес,square_total,Дом,parking,Цена,Описание,renovation,...,windows,Санузел,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,kids_allowed,pets_allowed
0,271271157,4,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Без комиссии для нанимателя! Бонус коллегам 12...,Дизайнерский,...,Нет данных,NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,1,1
1,271634126,4,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,Дизайнерский,...,На улицу и двор,"Совмещенный (2), Раздельный (1)","Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,1,0

#### **Мусоропровод**
##### Значения NaN заполняем как "Нет"

In [ ]:
rent['Мусоропровод'] = rent['Мусоропровод'].fillna('Нет')
rent.rename(columns = {'Мусоропровод':'garbage_chute'}, inplace = True)
rent['garbage_chute'] = rent['garbage_chute'].apply(lambda i: 1 if i == 'Да' else 0)

#### **Метро**
#### На основе станций метро и данных по округам и районам Москвы выделяем несколько новых колонок: станция метро, расстояние до метро, на чем добираться до метро, округ и район.

In [48]:
rent['Станция Метро'] = rent['Метро'].str.split('(').str[0]
rent['Станция Метро']

0        м. Смоленская
1        м. Смоленская
2        м. Смоленская
3        м. Смоленская
4         м. Арбатская
              ...
23363      м. Говорово
23364      м. Солнцево
23365      м. Солнцево
23366      м. Солнцево
23367      м. Говорово
Name: Станция Метро, Length: 19737, dtype: object

In [49]:
rent['Расстояние от метро'] = rent['Метро'].str.split('(').str[1]
rent['Расстояние от метро'] = rent['Расстояние от метро'].str[:-1]
rent['Расстояние от метро']

0         9 мин пешком
1         8 мин пешком
2         7 мин пешком
3         3 мин пешком
4         7 мин пешком
             ...
23363     8 мин пешком
23364     7 мин пешком
23365     6 мин пешком
23366    11 мин пешком
23367    10 мин пешком
Name: Расстояние от метро, Length: 19737, dtype: object

In [50]:
rent['Станция Метро']=rent['Станция Метро'].str[3:-1]

In [51]:
rent.groupby('Станция Метро', as_index=False).agg({'ID  объявления': 'count'})

                 Станция Метро  ID  объявления
0                 Авиамоторная             107
1                Автозаводская              57
2                Академическая             191
3          Александровский сад               3
4                 Алексеевская             171
..                         ...             ...
272               Юго-Западная             138
273                      Южная              73
274                    Ясенево             127
275                  Яхромская               1
276  улица Народного ополчения              41

[277 rows x 2 columns]

In [ ]:
metroo = metro = pd.read_csv('../MetroAndDistrict/list_of_moscow_metro_stations.csv')
metroo

In [ ]:
metro = pd.read_json('../MetroAndDistrict/metro.msk.json')
metro

In [ ]:
metro2 = metro['stations'].apply(pd.Series)
metro2

In [ ]:
metro_metro = pd.DataFrame()
x = 0
while x < len(metro2.index):
    pd.concat([metro_metro, metro2.loc[x].apply(pd.Series)], ignore_index=True)
    x += 1
metro_metro

In [ ]:
metro_metro = pd.concat([metro_metro, metro2.loc[14].apply(pd.Series)], ignore_index=True)
metro_metro

In [ ]:
metro_metro= metro_metro.dropna(how='all')
metro_metro

In [ ]:
metro_metro = metro_metro.drop_duplicates(subset=['name'])
metro_metro

In [ ]:
metro_metro.sort_values(by='name')

In [ ]:
rent.groupby('Станция Метро', as_index=False).agg({'ID  объявления': 'count'})

In [ ]:
metro_metro = metro_metro.rename(columns={'name': 'Станция Метро'})
metro_metro[['Станция Метро', 'admArea']].sort_values('Станция Метро')

In [ ]:
#rent['Станция Метро'] = rent['Станция Метро'].str[2:]
metros = rent.groupby('Станция Метро', as_index=False).agg({'ID  объявления': 'count'})
#metros = metros.rename(columns={'Станция Метро': 'name'})
metros
#metros.merge(metro_metro[['name', 'admArea']].sort_values('name'), how='left')

In [ ]:
pd.merge(metros, metro_metro, on='Станция Метро')#.groupby('admArea', as_index=False).count()

In [ ]:
pd.merge(metros, metro_metro, left_on='Станция Метро', right_on ='Станция Метро', how='left')

In [ ]:
okrugs = pd.merge(rent, metro_metro, left_on='Станция Метро', right_on ='Станция Метро', how='left').groupby('admArea', as_index=False).agg({'ID  объявления': 'count'})
fig, ax = plt.subplots()
ax.pie(okrugs['ID  объявления'], labels=okrugs['admArea'])
ax.get_legend().remove()

In [ ]:
rent.head()

#### **Количество комнат**
##### Выделяем количество комнат в формате int, отделяем тип комнат в новую колонку. Значения NaN подтягиваем с помощью колонки 'Площадь комнат, м2', где можно узнать количество комнат по разделителю.

In [ ]:
rent['Число комнат'] = rent['Количество комнат'].str.split(',').str[0]
rent

In [ ]:
rent['Число комнат'] = pd.to_numeric(rent['Число комнат'])

In [ ]:
rent['Тип комнат'] = rent['Количество комнат'].str.split(',').str[1]
rent

In [ ]:
rent = pd.merge(rent, metro_metro[['Станция Метро', 'admArea']], on='Станция Метро', how='left')
rent

In [ ]:
rent = rent.rename(columns={'admArea': 'Округ'})
rent

In [ ]:
# 'Название ЖК'

In [ ]:
# 'Высота потолков, м'